{% load define_action %}
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>.::Techoryze | Courses Videos::.</title>
<link rel="icon" href="http://54.197.43.10/static/images/logo/favicon.png" type="images/logo/favicon.png" />
<link href="http://54.197.43.10/static/css/style.css" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700">
    <link rel="stylesheet" href="http://54.197.43.10/static/css/chatstyle.css">
<script src="http://54.197.43.10/static/js/jquery.js"></script>
<script src="http://54.197.43.10/static/js/webjs.js"></script>
    <script src="http://54.197.43.10/static/js/js.cookie.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
     <script src="http://54.197.43.10/static/js/ac_quicktime.js"></script>

   <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-106136387-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-106136387-2');
</script>


</head>

<body>
<!--START HEADER-->
<header class="bg-header pt-4 pb-4">
<div class="container">
<div class="row">
<div class="col">
<!--START NAVBAR-->
<nav class="col navbar navbar-expand-lg navbar-light d-block font-size14px p-0">
  <div class="col-lg-2 col-md-3 col-sm-4 col-7 p-0 pull-left mt-1">
<a href="\" class="d-block"><img src="http://54.197.43.10/static/images/logo/logo.png" width="130" class=""></a>
</div>
<div class="col-lg-10 col-md-12 col-sm-12 col-12 p-0 pull-left">
  <button class="navbar-toggler btn btn-dark pull-right margin-topNeg31px collapsed" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="fa fa-bars"></span>
  </button>
  <div class="col navbar-collapse pull-left p-0 collapse" id="navbarText" style="">
    <ul class="navbar-nav colorWhite">
        <li class="nav-item">
        <a class="nav-link transition" href="/">Categories</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link transition" href="#">Courses</a>
      </li>
      <li class="nav-item">
        <a class="nav-link transition" href="/AboutUs">About Us</a>
      </li>
    </ul>
        <div class="col p-0">
            {% if request.user.is_authenticated %}
                {% define username as user %}
                <a href="\logout" class="d-block pull-right btn btn-dark signBtn font-weight-bold col-lg-3 col-md-12 col-sm-12 col-12">Sign Out</a>
            {% else %}
        	<a href="logins" class="d-block pull-right btn btn-dark signBtn font-weight-bold col-lg-3 col-md-12 col-sm-12 col-12">Sign In</a>
            {% endif %}
        </div>
  </div>
  </div>
</nav>
<!--END NAVBAR-->
</div>
</div>
</div>
</header>
<!--END HEADER-->

<!--START SECTION-->
<section class="overflow-hidden font-familyRobotoRegular">
<div class="container">
<div class="row">
<div class="col-12">
    {% for course in courses %}
        {% if forloop.first %}
            {% if course.course_category == 'MOS' %}
              {% define  '\Microsoft_Office_Suite'|addstr:"/courses" as url %}
            <p class="font-size12px mt-4 m-0 pl-3"> <a href="{{ url }}">Microsoft Office Suite > </a><a href="http://54.197.43.10/Microsoft_Office_Suite/{{ course.id }}/video/" class="font-size12px">{{ course.course_title }} </a>  <span class=""> > Lessons</span></p>
        {% endif %}

        {% if course.course_category == 'GD' %}
            {% define  '\Graphic_Design'|addstr:"/courses" as url %}
            <p class="font-size12px mt-4 m-0 pl-3"><a href="{{ url }}">Graphic Design > </a>  <a href="http://54.197.43.10/Graphic_Design/{{ course.id }}/video/" class="font-size12px">{{ course.course_title }} </a>  <span class=""> > Lessons</span></p>
        {% endif %}

        {% if course.course_category == 'SM' %}
            {% define  '\Sound_Music'|addstr:"/courses" as url %}
            <p class="font-size12px mt-4 m-0 pl-3"><a href="{{ url }}">Sound & Music > </a>  <a href="http://54.197.43.10/Sound_Music/{{ course.id }}/video/" class="font-size12px">{{ course.course_title }} </a>  <span class=""> > Lessons</span></p>
        {% endif %}

        {% if course.course_category == 'WD' %}
            {% define  '\Web_Site_Development'|addstr:"/courses" as url %}
            <p class="font-size12px mt-4 m-0 pl-3"><a href="{{ url }}">WEB SITE DEVELOPMENT > </a>  <a href="http://54.197.43.10/WEB_SITE_DEVELOPMENT/{{ course.id }}/video/" class="font-size12px">{{ course.course_title }} </a>  <span class=""> > Lessons</span></p>
        {% endif %}

        {% if course.course_category == 'AP' %}
            {% define  '\Animation_Production'|addstr:"/courses" as url %}
            <p class="font-size12px mt-4 m-0 pl-3"><a href="{{ url }}">Animation Production > </a>  <a href="http://54.197.43.10/Animation_Production/{{ course.id }}/video/" class="font-size12px">{{ course.course_title }} </a>  <span class=""> > Lessons</span></p>
        {% endif %}

        {% if course.course_category == 'VE' %}
            {% define  '\Video_Editing'|addstr:"/courses" as url %}
            <p class="font-size12px mt-4 m-0 pl-3"><a href="{{ url }}">Video Editing > </a>  <a href="http://54.197.43.10/Video Editing/{{ course.id }}/video/" class="font-size12px">{{ course.course_title }} </a>  <span class=""> > Lessons</span></p>
        {% endif %}

             <div class="col-lg-12 col-md-12 col-sm-12 col-12">
<ul class="videoHedings p-0 m-0 mt-4 mb-4">
<li class="colorgray"><h4 class="m-0">{{ course.course_title }}</h4></li>
</ul>
</div>

<div class="col-12 border-top1px font-size12px pt-2 pb-2 overflow-hidden">
<p class="pull-left m-0"><b>by {{ course.course_author_name }}</b> 29Aug2017</p>
<p class="pull-right m-0">Lessons: <b>{{ course.number_of_lesson }}</b> Duration: <b>{{ course.course_duration }}</b></p>
</div>


<div class="col-12 border-top1px font-size12px pt-4 pb-2 overflow-hidden">
<p class="m-0">{{ course.course_detail }}</p>
</div>

{% define course.course_video as video %}
<div class="col-lg-8 col-md-8 col-sm-8 col-8 p-0" style="float: left;">

        <video id="video" muted controls class="col p-0"  poster="http://54.197.43.10/static/images/bg/poster.png" preload="auto">

  		    <source src="http://54.197.43.10/media/{{ course.course_video }}" />
  	        <object class="col p-0" type="application/x-shockwave-flash"
    		    data="flowplayer-3.2.1.swf">
    		    <param name="movie" value="flowplayer-3.2.1.swf" />
    		    <param name="allowfullscreen" value="true" />
    		    <param name="flashvars" value="config={'clip': {'url': 'http://54.197.43.10/media/{{ course.course_video }}', 'autoPlay':false, 'autoBuffering':true}}" />

  	        </object>
	    </video>

    <script>
        var v = document.getElementById("video");
        v.onclick = function() {
        if (v.paused) {
            v.play();
        } else {
            v.pause();
        }
  };
</script>


        </div>

<div class="col-4 font-size12px pt-3 pb-2 overflow-hidden" style="
    float: right;">
<h5 class="colorgray">Learn</h5>
<ul class="videoIcon p-0 mt-3 col-lg-12 col-md-12 col-sm-8 col-12">

        <li>
            <i class="fa fa-play pull-left colorOrange" id="video1"></i>
            <p id="vid1" class="mt-1 pull-left ml-2 colorBlue">Video1</p>
            <p class="mt-1 pull-right">11:32</p>
        </li>
<li>
    <i class="fa fa-play pull-left colorOrange" id="video2"></i>
    <p id="vid2" class="mt-1 pull-left ml-2 colorBlue">Video2</p>
    <p class="mt-1 text-right">1:08:07</p>
</li>
<li>
    <i class="fa fa-play pull-left colorOrange" id="video3"></i>
    <p id="vid3" class="mt-1 pull-left ml-2 colorBlue">Video3</p>
    <p class="mt-1 text-right">1:20:10</p>
</li>
<li>
    <i class="fa fa-play pull-left colorOrange" id="video4"></i>
    <p id="vid4" class="mt-1 pull-left ml-2 colorBlue">Video4</p>
    <p class="mt-1 text-right">46:49</p>
</li>
<li>
    <i class="fa fa-play pull-left colorOrange" id="video5"></i>
    <p id="vid5" class="mt-1 pull-left ml-2 colorBlue">Video5</p>
    <p class="mt-1 text-right">1:15:12</p>
</li>
</ul>
</div>

            <script>
$('#vid1').click(function(){
    $(".fa-play").removeClass('videoActive');
    $("#video1").addClass('videoActive');
    {% if course.course_video_1 != '' %}
        {% define course.course_video_1 as video %}
        //alert("{{ video }}");
        var video = document.getElementById('video');
        video.src = 'http://54.197.43.10/media/{{ video }}'
        video.play();
    {% endif %}
});

$('#vid2').click(function(){
    $(".fa-play").removeClass('videoActive');
    $("#video2").addClass('videoActive');
    {% if course.course_video_2 != '' %}
        {% define course.course_video_2 as video %}
        //alert("{{ video }}");
        var video = document.getElementById('video');
        video.src = 'http://54.197.43.10/media/{{ video }}'
        video.play();
    {% endif %}
});

$('#vid3').click(function(){
 $(".fa-play").removeClass('videoActive');
    $("#video3").addClass('videoActive');
    {% if course.course_video_3 != '' %}
        {% define course.course_video_3 as video %}
        //alert("{{ video }}");
        var video = document.getElementById('video');
        video.src = 'http://54.197.43.10/media/{{ video }}'
        video.play();
    {% endif %}
});

$('#vid4').click(function(){
     $(".fa-play").removeClass('videoActive');
    $("#video4").addClass('videoActive');
    {% if course.course_video_4 != '' %}
        {% define course.course_video_4 as video %}
        //alert("{{ video }}");
        var video = document.getElementById('video');
        video.src = 'http://54.197.43.10/media/{{ video }}'
        video.play();
    {% endif %}
});

$('#vid5').click(function(){
     $(".fa-play").removeClass('videoActive');
    $("#video5").addClass('videoActive');
    {% if course.course_video_5 != '' %}
        {% define course.course_video_5 as video %}
        //alert("{{ video }}");
        var video = document.getElementById('video');
        video.src = 'http://54.197.43.10/media/{{ video }}'
        video.play();
    {% endif %}
});
            </script>

</div>
</div>

        {% endif %}


    {% endfor %}
</section>

<style>
    .hidden {display:none !important;}
    .visible1 {display:block;}
</style>
<!--END SECTION-->

<!--START FOOTER-->
<footer class="overflow-hidden">
<div class="container">
<div class="col border-top1px mt-3">
<div class="col-lg-3 col-md-6 col-sm-12 col-12 pl-0 pull-left mt-4">
<a href="index.html"><img src="http://54.197.43.10/static/images/logo/logo.png" width="135" class=""></a>
<p class="pt-2">Lorem Ipsum is simply dummy text of the
printing and typesetting industry. Lorem
Ipsum has been the industry's standard
dummy text.</p>
<ul class="p-0 socialicon">
<li class="font-weight-bold">FOLLOW US</li>
<li class="transition"><a class="transition" href="#"><span class="fa fa-youtube-play font-size14px"></span></a></li>
<li class="transition"><a class="transition" href="#"><span class="fa fa-facebook font-size14px"></span></a></li>
<li class="transition"><a class="transition" href="#"><span class="fa fa-twitter font-size14px"></span></a></li>
</ul>
</div>

<div class="col-lg-3 col-md-6 col-sm-6 col-12 navFotul pull-left mt-4 height-191px padding0768scr">
<ul>
<li><a href="/" class="transition">Browse Courses</a></li>
<li><a href="/Instructor" class="transition">Instructors</a></li>
{% comment %}<li><a href="#" class="transition">Enroll</a></li>{% endcomment %}
<li>
    {% if request.user.is_authenticated %}
                {% define username as user %}
                <a href="/logout" class="transition">Sign Out</a>
            {% else %}
        	<a href="/logins" class="transition">Sign In</a>
            {% endif %}</li>
</li>
</ul>
</div>
<div class="col-lg-3 col-md-6 col-sm-6 col-12 navFotul pull-left mt-4 height-191px padding0978scr">
<ul>
{% comment %}<li><a href="#" class="transition">Arcade</a></li>
<li><a href="#" class="transition">Forums</a></li>{% endcomment %}
<li><a href="Blogs" class="transition">Blog</a></li>
<li><a href="/PrivacyPolicy" class="transition">Privacy Policy</a></li>
{% comment %}<li><a href="#" class="transition">FAQ</a></li>{% endcomment %}
<li><a href="/ContactUs" class="transition">Contact</a></li>
</ul>
</div>

</div>

<div class="col-lg-3 col-md-6 col-sm-12 col-12 pull-left mt-4 padding0768scr">
{% comment %}<p class="m-0 font-weight-bold">Address</p>
<p class="m-0">Lorem Ipsum is simply dummy text</p>{% endcomment %}

<p class="m-0 font-weight-bold mt-2">Contact</p>
{% comment %}<p class="m-0">Lorem Ipsum is simply dummy text</p>
<p class="m-0">Lorem Ipsum is simply dummy text</p>{% endcomment %}

<p class="mt-2 font-weight-bold"><a href="mailto:info@techoryze.com" class="transition txtlink">info@techoryze.com</a></p>

<p class="m-0 font-weight-bold">School &amp; Group Sales</p>
<p class="mt-2 font-weight-bold"><a href="mailto:sales@techoryze.com" class="transition txtlink">sales@techoryze.com</a></p>
</div>
</div>

<div class="col-12 pull-left border-top1px mt-4">
<p class="text-center mt-3">2018 Â© Techoryze. All Rights Reserved</p>
</div>

</div>
</footer>
<!--END FOOTER-->

{% comment %}Chat window start{% endcomment %}
<div class="col p-0">
            {% if request.user.is_authenticated %}
                {% define username as user %}
                <a onclick="dispaychat()" class="d-block chatBtn colorOrange font-weight-bold col-lg-1 col-md-1 col-sm-1 col-1"></a>
            {% endif %}
        </div>
<div id="live-chat" style="visibility: hidden">

		<header class="clearfix">

			<a href="javascript:hideChat()" class="chat-close">x</a>

			<h4>John Powers</h4>

			<span id="counter" class="chat-message-counter">0</span>

		</header>

		<div class="chat" id="chat">

            <div class="chat-history js-chat-log"></div>

			{% comment %}<ul class="js-chat-log"></ul>{% endcomment %}

			<div style="padding: 16px">

				<fieldset>

					<input class="js-text" type="text" placeholder="Type your messageâ€¦" autofocus>
					<input type="hidden">

				</fieldset>
            </div>

		</div> <!-- end chat -->

	</div> <!-- end live-chat -->

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
<script src="http://54.197.43.10/static/js/chatscript.js"></script>
<script src="http://54.197.43.10/static/js/slim.min.js"></script>
<script src="http://54.197.43.10/static/js/popper.min.js"></script>
<script src="http://54.197.43.10/static/js/bootstrap.js"></script>
<script src="http://54.197.43.10/static/js/js.cookie.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script>
var counter = 0;
    var me = {};
me.avatar = "https://lh6.googleusercontent.com/-lr2nyjhhjXw/AAAAAAAAAAI/AAAAAAAARmE/MdtfUmC0M4s/photo.jpg?sz=48";

var you = {};
you.avatar = "https://a11.t26.net/taringa/avatares/9/1/2/F/7/8/Demon_King1/48x48_5C5.jpg";

 {% define username as user %}
    {% if user == '' %}
        {% define 'admin' as user %}
    {% endif %}

    //working code
    var chatterbotUrl = '{% url "chatterbot:chatterbot" %}';
      var csrftoken = Cookies.get('csrftoken');

      function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
      }

      $.ajaxSetup({
        beforeSend: function(xhr, settings) {
          if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
          }
        }
      });

      var $chatlog = $('.js-chat-log');
      var $input = $('.js-text');
      var $sayButton = $('.js-say');

      function createRow(text, who) {
          var date = formatAMPM(new Date())
          if(who == "me"){
              //var $row = $('<li class="list-group-item"></li>');
              $row = $('<div class="chat-message clearfix">\
                 <img src="http://54.197.43.10/static/images/icon/user_icon.png" alt="" width="32" height="32">\
                  <div class="chat-message-content clearfix">\
                  <h5>{{ user }}</h5>\
                  <p id="text1">'+text+'</p>\
                  </div>\
                  </div>\
                  <hr>');
          }
          else {
               $row = $('<div class="chat-message clearfix">\
                  <img src="http://54.197.43.10/static/images/icon/usermalecircle.png" alt="" width="32" height="32">\
                  <div class="chat-message-content clearfix">\
                  <h5>John Powers</h5>\
                  <p id="text1">'+text+'</p>\
                  </div>\
                  </div>\
                  <hr>');
          }
          //$row.text(text);
          //alert(text);
          //document.getElementById("text1").innerHTML=text;
          $chatlog.append($row);
          counter++;
          document.getElementById("counter").innerHTML = counter;
      }

      function submitInput() {
        var inputData = {
          'text': $input.val()
        }

        // Display the user's input on the web page


        createRow(inputData.text, 'me');

        var $submit = $.ajax({
          type: 'POST',
          url: chatterbotUrl,
          data: JSON.stringify(inputData),
          contentType: 'application/json'
        });

        $submit.done(function(statement) {
            var result = statement.text;
            createRow(result, 'you');

            // Clear the input field
            $input.val('');

            // Scroll to the bottom of the chat interface
            $chatlog[0].scrollTop = $chatlog[0].scrollHeight;
        });

        $submit.fail(function() {
          // TODO: Handle errors
        });
      }

      $sayButton.click(function() {
        submitInput();
      });

      $input.keydown(function(event) {
        // Submit the input when the enter button is pressed
        if (event.keyCode == 13) {
          submitInput();
        }
      });


      function formatAMPM(date) {
        var hours = date.getHours();
        var minutes = date.getMinutes();
        var ampm = hours >= 12 ? 'PM' : 'AM';
        hours = hours % 12;
        hours = hours ? hours : 12; // the hour '0' should be '12'
        minutes = minutes < 10 ? '0'+minutes : minutes;
        var strTime = hours + ':' + minutes + ' ' + ampm;
        return strTime;
}

function dispaychat() {
    document.getElementById("live-chat").style.visibility = "visible";
    document.getElementById("chat").style.display = "block";
    document.getElementById("counter").style.display = "none";

}

function hideChat() {
    document.getElementById("live-chat").style.visibility = "hidden";
}

function play(video) {
    vid=document.getElementsById("test");
    vid.src = video;
    vid.load();
    alert(video);
}

</script>

</body>
</html>
