{% load static %}
{% load define_action %}
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>.::Techoryze | Forgot Your Password::.</title>
<link rel="icon" href="http://127.0.0.1:8000/static/images/logo/favicon.png" type="images/logo/favicon.png" />
<link href="http://127.0.0.1:8000/static/css/style.css" rel="stylesheet" type="text/css">
<script src="http://127.0.0.1:8000/static/js/jquery.js"></script>
<script src="http://127.0.0.1:8000/static/js/webjs.js"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-106136387-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-106136387-2');
</script>

</head>

<body>
<!--START HEADER-->
<header class="bg-header pt-4 pb-4">
<div class="container">
<div class="row">
<div class="col">
<!--START NAVBAR-->
<nav class="col navbar navbar-expand-lg navbar-light d-block font-size14px p-0">
  <div class="col-lg-2 col-md-3 col-sm-4 col-7 p-0 pull-left mt-1">
<a href="/" class="d-block"><img src="http://127.0.0.1:8000/static/images/logo/logo.png" width="130" class=""></a>
</div>
<div class="col-lg-10 col-md-12 col-sm-12 col-12 p-0 pull-left">
  <button class="navbar-toggler btn btn-dark pull-right margin-topNeg31px collapsed" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="fa fa-bars"></span>
  </button>
  <div class="col navbar-collapse pull-left p-0 collapse" id="navbarText" style="">

    <ul class="navbar-nav colorWhite">
        <li class="nav-item active">
        <a class="nav-link transition" href="/">Pathways</a>
      </li>
      <li class="nav-item">
        <a class="nav-link transition" href="Demo">Demo</a>
      </li>
      <li class="nav-item">
        <a class="nav-link transition" href="AboutUs">About Us</a>
      </li>
    </ul>

                <div class="col p-0">
                <a href="\logins" class="d-block pull-right btn btn-dark signBtn font-weight-bold col-lg-3 col-md-12 col-sm-12 col-12">Sign In</a>
        </div>
  </div>
  </div>
</nav>
<!--END NAVBAR-->
</div>
</div>
</div>
</header>
<!--END HEADER-->

<!--START SECTION-->
<section class="overflow-hidden">
<div class="container">
<div class="row">

<div class="col-12 p-0 font-familyRobotoRegular colorgray overflow-hidden">
<div class="col-lg-4 col-md-6 col-sm-8 col-12 m-auto">
<div class="col-12 bg-colorWhite border-box1px pb-4 mt-5">
<h5 class="font-familyRaleway mt-4 text-center">Forgot Your Password?</h5>
<p class="mt-3 text-center font-size12px">We'll email you a link to reset it.</p>
<div class="col-10 m-auto p-0 mt-4">

<form method="post">
    {% csrf_token %}
  <div class="form-group">
    <label for="emailAddForGotPass">Email address</label>
    <input type="email" name="email" class="form-control" id="emailAddForGotPass" aria-describedby="Email For Forgot Password" placeholder="Enter email">
  </div>


<div class="col p-0 mt-3">
    <input type="submit" value="Submit" class="d-block btn btn-dark colorOrange col-lg-12 col-md-12 col-sm-12 col-12 m-auto
    font-size14px font-familyOpenSans"/>
</div>


</form> 

<p class="mt-3 text-center font-size12px">Just remembered? <a href="\logins" class="">Sign in</a> instead.</p>
</div>

</div>
</div>
</div>




</div>
</div>
</section>
<!--END SECTION-->

<!--START FOOTER--><footer class="overflow-hidden" style="position: relative;">
            <div class="container">
                <div class="col border-top1px mt-5">
                    <div class="col-lg-3 col-md-6 col-sm-12 col-12 pl-0 pull-left mt-4">
                        <a href="/"><img src="http://54.197.43.10/static/images/logo/logo.png" width="135" class=""></a>
                        <p class="pt-2">Techoryze targets to solve a growing problem in the K-12 landscape. While students are increasingly using software, for example to create spreadsheets or documents, there is little or no formal instruction being provided on how to use these software tools effectively.  This is a significant lost opportunity since students can be more creative, more analytical and better problem solvers, while also getting comfortable with digital tools needed in the workforce.</p>
                        <ul class="p-0 socialicon">
                            <li class="font-weight-bold">FOLLOW US</li>
                            <li class="transition"><a class="transition" href="#"><span class="fa fa-youtube-play font-size14px"></span></a></li>
                            <li class="transition"><a class="transition" href="#"><span class="fa fa-facebook font-size14px"></span></a></li>
                            <li class="transition"><a class="transition" href="#"><span class="fa fa-twitter font-size14px"></span></a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 col-sm-6 col-12 navFotul pull-left mt-4 height-191px padding0768scr">
                        <ul>
                            <li><a href="/" class="transition">Pathways</a></li>
                            <li><a href="Demo" class="transition">Demo</a></li>
                            <li><a href="AboutUs" class="transition">About Us</a></li>

                            <li>

                                <a href="logins" class="transition">Login</a>

                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12 navFotul pull-left mt-4 height-191px padding0978scr">
                        <ul>

                            <li><a href="Blogs" class="transition">News</a></li>
                            <li><a href="PrivacyPolicy" class="transition">Privacy</a></li>

                            <li><a href="ContactUs" class="transition">Terms</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-12 col-12 pull-left mt-4 padding0768scr">

                    <p class="m-0 font-weight-bold mt-2">Contact</p>

                    <p class="m-0 font-weight-bold">Techoryze, Inc.</p>
                    <p class="m-0 font-weight-bold">157 Columbus Ave, 4th Floor</p>
                    <p class="m-0 font-weight-bold">New York, NY 10023</p>
                    <p class="mt-2 font-weight-bold"><a href="mailto:info@techoryze.com" class="transition txtlink">info@techoryze.com</a></p>
                </div>
            </div>

            <div class="col-12 pull-left border-top1px mt-4">
                <p class="text-center mt-3">2018 © Techoryze. All Rights Reserved</p>
            </div>

        </footer>


<!--END FOOTER-->

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="http://127.0.0.1:8000/static/js/slim.min.js"></script>
<script src="http://127.0.0.1:8000/static/js/popper.min.js"></script>
<script src="http://127.0.0.1:8000/static/js/bootstrap.js"></script>

{% if messages %}
  {% for message in messages %}
  <script type="text/javascript">
    alert("{{ message }}")
  </script>
    
  {% endfor %}
{% endif %}
</body>
</html>
